body {
  background-image: linear-gradient(#00768e, #38c3bc);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

a {
  color: #38c3bc;
}

.weather-app {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(7, 50, 64, 0.3);
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
}

header {
  border-bottom: 1px solid #38c3bc;
  padding: 0 0 30px 0;
}

.search-input {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-button {
  background: #38c3bc;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}

main {
  padding: 30px 0;
}

.weather-app-info {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  font-size: 38px;
  line-height: 48px;
  margin: 0 0 10px 0;
}

.weather-details {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.weather-details strong {
  color: #38c3bc;
}

.weather-temp-container {
  display: flex;
}

.weather-icon {
  width: 88px;
  height: 88px;
}

.weather-temp {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.weather-unit {
  font-size: 28px;
  margin-top: 6px;
}

footer {
  border-top: 1px solid #38c3bc;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  padding: 30px 0 0 0;
  text-align: center;
}
